<h2>What is Redact?</h2>
<div class="desc">
        Redact is a learning resource made over TY as a hobby project. It is a complilation of notes and tests made by a variety of people</br>
        All the notes that are on the website are triple checked, but regardless there are bound to be errors. If any such errors are found, please create a pull request on the <a href="https://github.com/flippont/untitled-notes-app" target="_blank">GitHub Repository</a>
        You are free to do whatever with the notes provided, and I will be open to any suggestions regarding the website :) </br>
        If I don't respond to anything, I've probably just gone fishin'
</div>
<h2>Why is it called Redact?</h2>
<div class="desc">
    Wikipedia defines <a href="https://en.wikipedia.org/wiki/Redaction" target="_blank">Redaction</a> as the process of removing sensitive information from a document so that it may be distributed to a broader audience.</br>
    It represents a clean learning environment and nothing else and it has nothing to do with the 2007 film <a href="https://letterboxd.com/film/redacted/" target="_blank">Redacted</a> by Brian De Palma.
</div>
<h2>How can I find different articles?</h2>
<div class="desc">
    Redact has four main ways to search for an article. In the home page, it can give you random and recently added articles 
    in the form of article cards. The small card on the side of the main article is called the "colour card", and if you click 
    on it, it will take you to the directory of that article. If navigate to the list page, you will find a list of subjects on screen. Clicking on one will
    take you to a web of subtopics for you to find. If you navigate to the article page you will see all the articles at once 
    and if you hover over them you will be able to see their names. This feature is still worked on, and it is by no means perfect.
    Finally, you can filter through the articles by using the search bar on the side. This filters through the title, subject and
    excerpt of the given article. Once you enter the search term and hit return, you can also reorder the articles depending
    on their level, their name or their subject.
</div>
