<div class="desc">
    <div class="innerdesc">
        Redact is a learning resource made over TY as a hobby project. It is a complilation of notes and tests made by a variety of people</br>
        All the notes that are on the website are triple checked, but regardless there are bound to be errors. If any such errors are found, please create a pull request on the <a href="https://github.com/flippont/untitled-notes-app" target="_blank">GitHub Repository</a>
        You are free to do whatever with the notes provided, and I will be open to any suggestions regarding the website :) </br>
        If I don't respond to anything, I've probably just gone fishin'
    </div>
</div>