<div style="width: 400px; float: right;">
    <div class="box">
        <div class="boxTop" style="background: #cedff2;">
            <h2>Tab</h2>
        </div>
        <div class="boxBottom">
            
        </div>
    </div>
    <div class="box">
        <div class="boxTop" style="background: #cef2e0;">
            <h2>Table of contents</h2>
        </div>
        <div class="boxBottom" id='contents'>

        </div>
    </div>
</div>

<div style="width: calc(100% - 410px); float: left;" id="article">
</div>