<div style="width: 300px; float: right;">
    <div id="extras">
    </div>
    <div class="box">
        <div class="boxTop">
            <h2>Progress</h2>
        </div>
        <div class="boxBottom" id="progress">
            
        </div>
    </div>
    <div class="box" id="contentscont">
        <div class="boxTop">
            <h2>Results</h2>
        </div>
        <div class="boxBottom" id="contents">
            <button class="submit" onclick="return getResults(0);" type="submit"> Submit</button>
            <button class="submit" onclick="return reset(0);"> Reset</button>
            </br>
            <p id="results">Score: 0/6</p>
        </div>
    </div>
</div>

<div style="width: calc(100% - 310px); float: left;" id="test">
</div>