:root {
    --background: #20262E;
    --white: #FFF;
    --borders: #dddddd3f;
    --element: #2C3440;
    --search: #7a7a7a36;
}

html,
body {
    top: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100vh;
    font-weight: 400;
    color: var(--white);
    background: var(--background);
}

body {
    font: 14px/22px arial, helvetica, clean, sans-serif;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

.nav {
    width: 188pt;
    border-right: 1.5pt solid var(--borders);
    height: 100vh;
    position: fixed;
}

.main {
    height: 100vh;
    position: absolute;
    width: 100vw;
    justify-content: center;
    display: flex;
}

.container {
    max-width: 700pt;
    width: calc(100% - 40pt);
    position: absolute;
    padding: 20pt;
    min-height: calc(100vh - 80pt);
    height: auto;
    padding-top: 60pt;
}

.list {
    margin-bottom: 5pt;
    font-style: italic;
    cursor: pointer;
    padding: 10px;
    padding-left: 16px;
    width: calc(100% - 20pt);
    overflow: hidden;
    clip-path: inset(0% 0% 0% 0% round 2px);
    vertical-align: baseline;
    transition: 0.3s;
    border: 1px solid var(--borders);
    background: var(--element);
}
.list:focus{ 
    outline: none;
    opacity: 0.1;
}


.list:hover {
    opacity: 0.1;
}

.active {
    color: var(--white);
}

.article {
    margin-bottom: 5pt;
    cursor: pointer;
    padding: 20pt;
    width: calc(100% - 40pt);
    vertical-align: baseline;
    background: var(--element);
    clip-path: inset(0% 0% 0% 0% round 2px);
    box-shadow: inset 0 0 10px var(--borders);
    transition: 0.3s;
}

#saved {
    max-height: 281px;
    overflow: auto;
}

.article:hover {
    opacity: 0.1;
}

.links {
    border-bottom: 1.5pt solid var(--borders);
    padding: 10pt;
}

.search {
    border: none;
    font: 14px/22px arial, helvetica, clean, sans-serif;
    background: var(--search);
    margin-bottom: 5pt;
    border-radius: 20px 0 0 20px;
    width: 250pt;
    float: right;
    color: var(--white);
    outline: none;
    margin-top: -10px;
    padding: 7pt;
    padding-left: 20px;

}

.searchBtn {
    font: 14px/22px arial, helvetica, clean, sans-serif;
    background: var(--search);
    cursor: pointer;
    padding: 7px;
    padding-top: 12px;
    float: right;
    color: var(--white);
    width: 50pt;
    border-radius: 0 20px 20px 0;
    z-index: 100;
    transition: 0.3s;
    margin-top: -10px;
    margin-right: 10px;
    border: none;
    outline: none;
}
.searchBtn:focus .filled{
    fill: #00E054
}
.searchBtn:hover .filled{
    fill: #00E054
}
.contents {
    max-width: 950px;
    margin: auto;
}

label {
    display: flex;
    cursor: pointer;
    position: relative;
    margin-bottom: 2pt;
    overflow: hidden;
}

label::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

input[type="radio"] {
    box-sizing: border-box;
    width: 5pt;
    height: 5pt;
    margin: 2pt;
    padding: 0;
    margin-top: 8px;
    margin-right: 10pt;
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
}

input[type="radio"]:not(:disabled):checked {
    background-color: var(--white);
    padding: 2pt;
}

input[type="radio"]:disabled:checked {
    background-color: var(--white);
    padding: 2pt;
}

label:has(input[type="radio"]:disabled),
input[type="radio"]:disabled {
    cursor: default;
}

.box {
    margin-bottom: 10px;
}

.left {
    width: calc((100% - 10px)/2);
    float: left;
}

.right {
    width: calc((100% - 10px)/2);
    float: right;
}

.boxTop {
    padding-top: 17px;
    padding-bottom: 17px;

    font-size: small;
    color: var(--white);
}

.boxBottom {
    padding: 10px;
}

legend {
    margin-bottom: 10pt;
}

.questions {
    padding: 10pt;
    margin-top: 10pt;
    color: var(--white);
    background: var(--element);
}

.submit {
    padding: 7pt 10pt 7pt 10pt;
    border: none;
    font: 14px/22px arial, helvetica, clean, sans-serif;
    background: var(--element);
    color: var(--white);
    cursor: pointer;
}

.header {
    width: calc(100% - 40px);
    height: 45px;
    z-index: 1;
    left: 0px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: #14181C;
    position: fixed;
}

.header h1 {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
}

table {
    margin-top: 14pt;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    font: 14px/22px arial, helvetica, clean, sans-serif;
    overflow: hidden;
}

tr {
    background: var(--element);
}

th {
    text-align: left;
    color: var(--white);
    font-weight: bold;
    resize: horizontal;
}

th::-webkit-resizer {
    background-color: transparent;
    padding: 10px;
}

ul {
    list-style: disc outside;
    margin: 0em;
    padding-left: 10px;
}
.quoted {
    padding-left: 0;
}

td,
th {
    padding: 7pt 14pt 7pt 14pt;
    border: 1px solid var(--borders);
    text-overflow: clip;
}


.title {
    margin-left: 10px;
    margin-top: 20px;
    color: #a2a9b1;
}

.table {
    overflow: auto;
}

#text {
    margin-top: 5pt;
    height: 20pt;
    margin-left: 5pt;
}

.cell {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.colour {
    width: 100%;
    position: absolute;

}

.testBtn {
    border: 1px solid var(--borders);
    background: var(--element);
    color: var(--white);
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    font: 14px/22px arial, helvetica, clean, sans-serif;
}

.testBtn:hover {
    opacity: 0.5;
}

.filter {
    background-color: var(--element);
    padding: 10px;
    border: none;
    padding-left: 20px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    color: var(--white);
    border-radius: 3px;
    font: 14px/22px arial, helvetica, clean, sans-serif;
}

.filter:hover {
    opacity: 0.5;
}

.contentsButton {
    border: none;
    background: var(--element);
    color: var(--white);
    width: 100%;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 0px;
    padding: 10px;
    border-radius: 3px;
    border:1px solid var(--borders);
    font: 14px/22px arial, helvetica, clean, sans-serif;
}

iframe {
    border: none;
    width: 100%;
    border-radius: 3px;
}
a {
    color:#00E054;
}
#extras {
    margin-left: 10px;
}
.quote {
    background: var(--element);
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    display: block;
    border: 1px solid var(--borders);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.contentsButton:hover {
    opacity: 0.5;
}

.savedList {
    padding: 10px;
    font-style: italic;
    cursor: pointer;
    background: var(--element);
    margin: 2px;
    margin-bottom: 5px;
    clip-path: inset(0% 0% 0% 0% round 2px);
}

.star {
    margin-top: 20px;
    float: right;
    fill: #ccc;
    cursor: pointer;
}

.loading {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: auto;
    margin-top: calc(50vh - 100px);
    border: 5px solid var(--background);
    border-top-color: var(--white);
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.progress {
    margin: 10px;
    width: calc(100% - 20px);
    height: 20px;
    background: var(--element);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--element);
    color: var(--white);
    padding: 10px;
    border: none;
    padding-left: 20px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    border-radius: 3px;
    cursor: pointer;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}