:root {
    --background: #FFFDF1;
    --borders: #F4F2E7;
    --hover: #F2F0E4;
}

html,
body {
  top: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}
body {
  font-family: Consolas,monaco,monospace; 
  font-size: 11pt;  
  margin: 0 auto;
  background-color: var(--background);
  font-weight: 100;
}

.nav {
    width: 188pt;
    border-right: 1.5pt solid var(--borders);
    height: calc(100vh - 20pt);
    overflow: auto;
}
.main {
    overflow: auto;
    height: calc(100vh - 20pt);
    display: block;
    position: absolute;
    top: 0;
    left: 210pt;
    position: absolute;
    width: calc(100% - 230pt);
    padding: 10pt;
}
.container {
    max-width: 500pt;
    width: calc(100% - 15pt);
    position: absolute;
    left: 50%;
    padding: 5pt;
    transform: translate(-50%, 0%);
}
.list {
    font-weight: bold;
    margin-bottom: 5pt;
    border-radius: 5pt;
    cursor: pointer;
    padding: 7pt;
    width: calc(100% - 18pt);
    vertical-align: baseline;
    color: gray;
}
.list:focus {
    outline: none;
    background: var(--hover);
}
.list:hover {
    background: var(--hover);
}
.active {
    color: #000;
}

.article {
    margin-bottom: 5pt;
    cursor: pointer;
    padding: 7pt;
    width: calc(100% - 18pt);
    vertical-align: baseline;
    border-bottom: 1.5pt solid var(--borders);
}
.links {
    border-bottom: 1.5pt solid var(--borders);
    padding: 10pt;
}
.search {
    font-family: Consolas,monaco,monospace; 
    border: 1.5pt solid var(--borders);
    font-size: 10pt;
    background: var(--background);
    outline: none;
    margin-bottom: 5pt;
    border-radius: 5pt;
    width: calc(100% - 20pt);
    padding: 7pt;

}

table { 
    margin-top: 14pt;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}
tr{
    background: #f6f6f6;
}
tr:nth-of-type(odd) {
    background: #e9e9e9;
}
th {
    background: #ea6153;
    text-align: left;
    color: #fff;
    resize: horizontal;
}
th::-webkit-resizer {
    background-color: transparent;
    padding: 20px;
}

td, th {
    padding: 7pt 14pt 7pt 14pt;
    text-overflow:clip;
}
.table {
    overflow: auto;
}
#text {
    margin-top: 5pt;
    height: 20pt;
    margin-left: 5pt;
}

.colour {
    border-radius: 10pt;
    width: 10pt;
    height: 10pt;
    float: right;
}


.hidden {
	display: none !important;
}
@media screen and (max-width: 750pt) {
    .nav {
        display: none;
    }
    .main {
        left: 0;
        width: calc(100% - 20pt);
    }
}

